<h1>Hello, app-angularv18</h1>

<nav>
  <ul class="flex justify-center gap-1">
    <li class="space-x-4 bg-violet-500 rounded-sm text-white">
      <a routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">Register Component</a>
      <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login Component</a>
      <a routerLink="/users" routerLinkActive="active" ariaCurrentWhenActive="page">Users</a>
    </li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>